
TopDownGame/Library/EditorInstance.json
TopDownGame/Library/gfu/cache/gitlocks.yaml
TopDownGame/Library/gfu/cache/gitstatusentries.yaml
TopDownGame/Library/gfu/cache/gittrackingstatus.yaml
TopDownGame/Library/gfu/cache/repoinfo.yaml
TopDownGame/Library/shadercompiler-UnityShaderCompiler.exe0.log
TopDownGame/Temp/UnityLockfile
TopDownGame/Library/gfu/cache/gitlocks.yaml
TopDownGame/Library/gfu/cache/gitstatusentries.yaml
TopDownGame/Library/gfu/cache/gittrackingstatus.yaml
TopDownGame/Library/gfu/cache/repoinfo.yaml
TopDownGame/Library/shadercompiler-UnityShaderCompiler.exe0.log
*.yaml
